{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title%}{%endblock%} Shop</title>
        <link rel="stylesheet" href="{% static 'shop_style3.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'menu2.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'detailed2.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'signup.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'forming2.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'searching2.css' %}" type="text/css">
    </head>

    <body style="">
        <nav class="navigat">
            <div class="cl_item">
                <a href="/" class="cl_link" >CarShop</a><br><br>
                <a href="{% url 'cars:new' %}" class="cl_link_item" >New car</a>
                <a href="{% url 'individuals:index' %}" class="cl_link_item" >My cars</a>
                <a href="{% url 'cars:cars' %}"class="cl_search_item" >Search</a>

                {% if user.is_authenticated %}
                  <a href="{% url 'logout' %}" class="cl_signing">Log Out</a>
                {% else %}
                  <a href="{% url 'login' %}" class="cl_signing" >Log in</a>
                  <a href="{% url 'shop:signup' %}" class="cl_signing">Sign up</a>
                {% endif %}

            </div>
        </nav>

        <div class="main">
            {% block content %}
            {% endblock %}
        </div>

        <footer class="cl_foot">
            <div class="cl_foot_div">
                <p>CarShop</p>
            </div>
            <div class="cl_info">
                <h4>Info:</h4>

                <ul class="cl_info_list">
                    <a href="{% url 'shop:contact' %}" style="text-decoration: none; color: white">
                        <li>Address: Long Street Warsaw</li>
                        <li>Phone: 500 123 456</li>
                    </a>
                </ul>
            </div>
        </footer>
        <script src="{% static 'butText.js' %}"></script>
    </body>
</html>